{% extends 'ANGANVADI/index1.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>add productlist</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<div align="center">Product </div>
<table  class="table table-hover">

  <tr>
    <th  scope="col">Category</th>
    <th scope="col">Product</th>
  </tr>
  <tr>
    <th scope="row">6month-3years old</th>
    <td><p>
        <input type="checkbox" name="CheckboxGroup1" value="Amrutham powder(3.375kg)" id="CheckboxGroup1_0"  />
        <label for="CheckboxGroup1_0">Amrutham powder(3.375kg)</label>

      </p>
      <p>(For 25 days)<br />
        <br />
      </p></td>
  </tr>
  <tr>
    <th scope="row">3-6 years old(pree school kids)</th>
    <td><p>

        <input type="checkbox" name="CheckboxGroup2" value=" Ground nuts" id="CheckboxGroup2_0" />
        <label for="CheckboxGroup2_0">Ground nuts(15g)</label>
        <br />
        <input type="checkbox" name="CheckboxGroup2" value=" Milk(100ml)" id="CheckboxGroup2_1" />
        <label for="CheckboxGroup2_1">Milk(100ml)</label>

      <br />
        <input type="checkbox" name="CheckboxGroup2" value="Rice(50g)" id="CheckboxGroup2_2" />
        <label for="CheckboxGroup2_2">Rice(50g)</label>
        <br />

          <input type="checkbox" name="CheckboxGroup2" value="Beans(15g)" id="CheckboxGroup2_3" />
        <label for="CheckboxGroup2_3">Beans(15g)</label>

        <br />
          <input type="checkbox" name="CheckboxGroup2" value="Vegitables" id="CheckboxGroup2_4" />
        <label for="CheckboxGroup2_4">Vegitables</label>
        <br />
          <input type="checkbox" name="CheckboxGroup2" value="Wheet(40g)" id="CheckboxGroup2_5" />
        <label for="CheckboxGroup2_5">Wheet(40g)</label>

        <br />
          <input type="checkbox" name="CheckboxGroup2" value="Uzhunnu(10g)" id="CheckboxGroup2_6" />
        <label for="CheckboxGroup2_6">Uzhunnu(10g)</label>
        <br />
          <input type="checkbox" name="CheckboxGroup2" value="Coconut oil(10ml)" id="CheckboxGroup2_7" />
        <label for="CheckboxGroup2_7">Coconut oil(10ml)</label>

        <br />
          <input type="checkbox" name="CheckboxGroup2" value="Jaggery(25g)" id="CheckboxGroup2_8" />
        <label for="CheckboxGroup2_8">Jaggery(25g)</label>

        <br />
        (for 1day)</p></td>
  </tr>
  <tr>

    <th scope="row">Teenage girls</th>
    <td><p>

        <input type="checkbox" name="CheckboxGroup3" value=" Iron tablets" id="CheckboxGroup3_0" />
        <label for="CheckboxGroup3_0">Iron tablets</label>

      <br />

        <input type="checkbox" name="CheckboxGroup3" value="Sanitary napkins" id="CheckboxGroup3_1" />
        <label for="CheckboxGroup3_1">Sanitary napkins</label>

      <br />
    </p></td>
  </tr>
  <tr>
    <th scope="row">Lactating Mothers</th>
    <td><p>

        <input type="checkbox" name="CheckboxGroup4" value="Wheet(2kg)" id="CheckboxGroup4_0" />
        <label for="CheckboxGroup4_0">Wheet(2kg)</label>

      <br />

        <input type="checkbox" name="CheckboxGroup4" value=" Ragi Powder(1kg)" id="CheckboxGrou4_1" />
      <label for="CheckboxGrou4_1"> Ragi Powder(1kg) </label>
  <br />

        <input type="checkbox" name="CheckboxGroup4" value="Jaggery(500g" id="CheckboxGroup4_2" />
        <label for="CheckboxGroup4_2">Jaggery(500g)</label>
      </p>
      <p>(For 25 days)</p></td>
  </tr>
  <tr>
    <th scope="row">Pregnant Women</th>
    <td><p>
         <input type="checkbox" name="CheckboxGroup5" value="Wheet(2kg)" id="CheckboxGroup5_0" />
        <label for="CheckboxGroup5_0">Wheet(2kg)</label>

      <br />

        <input type="checkbox" name="CheckboxGroup5" value=" Ragi Powder(1kg)" id="CheckboxGrou5_1" />
      <label for="CheckboxGrou5_1"> Ragi Powder(1kg) </label>
  <br />

        <input type="checkbox" name="CheckboxGroup5" value="Jaggery(500g)" id="CheckboxGroup5_2" />
        <label for="CheckboxGroup5_2">Jaggery(500g)</label>
      </p>


        <input type="checkbox" name="CheckboxGroup5" value="Theraputic" id="CheckboxGroup5_3" />
        <label for="CheckboxGroup5_3">Theraputic food</label>
      </p>


{#        <input type="checkbox" name="CheckboxGroup5" value="Theraputic" id="CheckboxGrou5_0" />#}
{#        <label for="CheckboxGroup5_0">Theraputic food</label>#}
{#      <br />#}
{##}
{#        <input type="checkbox" name="CheckboxGroup5" value="Wheet" id="CheckboxGrou5_1" />#}
{#        <label for="CheckboxGroup5_1">Wheet(2kg)</label>#}
{##}
{#      <br />#}
{##}
{#        <input type="checkbox" name="CheckboxGroup5" value="Ragi Powder(1kg)" id="CheckboxGroup5_2" />#}
{#        <label for="CheckboxGroup5_2">Ragi Powder(1kg)</label>#}
{##}
{#      <br />#}
{##}
{#        <input type="checkbox" name="CheckboxGroup5" value="Jaggery(500g)" id="CheckboxGrou5_3" />#}
{#        <label for="CheckboxGroup5_3">Jaggery(500g)</label>#}
{##}
{#      </p>#}
      <p>(For 25 days)<br />
        </p>
      <p>        <br />
        <br />
      </p></td>
  </tr>
   <tr>
    <th scope="row">15-45 years old women</th>
    <td><p>

        <input type="checkbox" name="CheckboxGroup6" value="Nutrious food" id="CheckboxGroup6_0" />
          <label for="CheckboxGroup6_0">Nutrious food</label>

      <br />
      <br />
    </p></td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Submit"  class="btn btn-outline-primary"/></th>
    </tr>
</table>

</form>
</body>
</html>
{% endblock %}