{% extends 'ANGANVADI/index1.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>add_event</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table class="table table-hover">
    <tr>
      <th colspan="2" scope="row">Event</th>
    </tr>
    <tr>
      <th scope="row">Event Name</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" class="form-control"/></td>
    </tr>
    <tr>
      <th scope="row">Picture</th>
      <td><label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" class="form-control"/></td>
    </tr>
    <tr>
      <th scope="row">Date</th>
      <td><label for="textfield2"></label>
      <input type="date" name="textfield2" id="textfield2" class="form-control"/></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Submit"  class="btn btn-outline-primary"/></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}