{% extends 'ANGANVADI/index1.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>User registration</title>
</head>

<body><form action="/add_user" method="post"><table  class="table table-hover">

  <tr>
    <th scope="row">Name</th>
    <td ><label for="textfield"></label>
      <input type="text" name="textfield" required id="textfield" class="form-control"/></td>
  </tr>
  <tr>
    <th scope="row">DOB</th>
    <td><label for="textfield2"></label>
      <input type="date" name="textfield2" required id="textfield2"  class="form-control"/></td>
  </tr>
  <tr>
    <th scope="row">Gender</th>
    <td><input type="radio" name="radio1" id="radio1" value="male" />
      <label  for="radio1">Male</label> <br />
        <input type="radio" name="radio1" id="radio2" value="female" />
      <label for="radio2">Female</label><br />
      <input type="radio" name="radio1" id="radio3" value="others" />
      <label for="radio3">Others</label></td>
  </tr>
  <tr>
    <th scope="row">Phone Number</th>
    <td><label for="textfield3"></label>
      <input type="number" name="textfield3" requierd id="textfield3" class="form-control"/></td>
  </tr>
  
  
  <tr>
  <th scope="row">email</th>
  <td><label for="textfield5"></label>
    <input type="email" name="textfield5" requierd id="textfield5" class="form-control"/></td>
  <tr>
    <th scope="row">Address</th>
    <td><label for="textarea"></label>
      <textarea name="textarea" requierd id="textarea" cols="45" rows="5"  class="form-control"></textarea></td>
  </tr>
     <tr>
    <th scope="row">Ward </th>
    <td><label for="select"></label>
      <select name="select" id="select" class="form-control">
          {% for i in data %}
          <option value="{{ i['ward_id'] }}">{{ i['ward_number'] }}</option>
          {% endfor %}
      </select></td>
  </tr>

  <tr>
      <th scope="row">Category</th>
    <td><p>
          <input type="radio" name="radio" id="radio4" value="6 month-3 years old" />
        <label for="radio4">6 month-3 years old</label>
      </p>
      <p>
        <input type="radio" name="radio" id="radio5" value="3-6 years old" />
        <label for="radio5">3-6 years old</label>
      </p>
      <p>
        <input type="radio" name="radio" id="radio6" value="Pregnent women" />
        <label for="radio6">Pregnent women</label>
        </p>
      <p>
        <input type="radio" name="radio" id="radio7" value="Lactating mothers" />
        <label for="radio7">Lactating mothers(0-6 month)</label>
      </p>
      <p>
        <input type="radio" name="radio" id="radio8" value="Teenage girls" />
        <label for="radio8">Teenage girls</label>
        </p>
      <p>
        <input type="radio" name="radio" id="radio9" value="15-45 years old women" />
        <label for="radio9">15-45 years old women</label>
      </p></td>
  </tr>
 <tr>
      <th scope="row">Password</th>
      <td><label for="textfield6"></label>
      <input type="password" name="textfield6" id="textfield6" required class="form-control" /></td>
    </tr>
  <tr>
    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="submit" class="btn btn-outline-primary"/></th>
    </tr>
</table>
</form>
</body>
<script>
    function check()
    {
        var val=this.getAttribute("checked");
        alert(val);
{#        this.setAttribute("checked", "true")#}
    }
</script>
</html>
{% endblock %}