{% extends 'ICDS/index2.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>view record </title>
</head>

<body><form action="" method="get"><table class="taable table-hover" cellpadding="4">

  <tr style="background-color: #b3d7ff;color: black">
    <th scope="col">#</th>
    <th scope="col">Username</th>
    <th  scope="col">Product name</th>
    <th  scope="col">Amount of product</th>
    <th scope="col">Amount of product collected</th>
    <th  scope="col">Amount of remainig product</th>
  </tr>
     {% for i in data %}
  <tr>
    <td>{{ loop.index }} </td>
    <td>{{ i['name'] }}</td>
    <td>{{ i['product_name'] }}</td>
    <td>{{ i['product_amount'] }}</td>
    <td>{{i['product_collected_amount'] }}</td>
    <td>{{ i['remaining_product'] }}</td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}