{% extends 'ICDS/index2.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get"><table class="table table-hover">
  <tr>
    <th colspan="6" scope="col">Birth Register</th>
    </tr>
  <tr style="background-color: #b3d7ff;color: black">
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">DOB</th>
     <th scope="col">Gender</th>
    <th scope="col">Father's name</th>
    <th scope="col">Mother's name</th>
    <th scope="col">Address</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ loop.index }}</td>
    <td>&nbsp;{{ i['name'] }}</td>
    <td>&nbsp;{{ i['dob'] }}</td>
    <td>&nbsp;{{ i['gender'] }}</td>
    <td>{{ i['father'] }}</td>
    <td>&nbsp;{{ i['mother'] }}</td>
      <td>&nbsp;{{ i['address'] }}</td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}